asgiref==3.2.7
certifi==2020.4.5.1
chardet==3.0.4
cloudinary==1.20.0
defusedxml==0.6.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.14
django-allauth==0.41.0
django-crispy-forms==1.9.0
django-heroku==0.3.1
docopt==0.6.2
easy-thumbnails==2.7
gitignore==0.0.8
gunicorn==20.0.4
idna==2.9
oauthlib==3.1.0
Pillow==7.1.1
psycopg2==2.8.5
python-decouple==3.3
python-dotenv==0.13.0
python3-openid==3.1.0
pytz==2019.3
requests==2.23.0
requests-oauthlib==1.3.0
six==1.14.0
sqlparse==0.3.1
static3==0.7.0
urllib3==1.25.9
whitenoise==5.0.1
