{% extends 'blog/base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h3 class="mt-4">{{ post.title }}</h3>

        <!-- Author -->
        <p class="lead">
          by
          <a href="{% url 'user-post' post.author.username %}">{{ post.author }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{ post.date }}</p>
      {% if post.author == user %}
              <a href="{% url 'update' post.pk %}" class="btn btn-secondary">Update</a>
              <a href="{% url 'delete' post.pk %}" class="btn btn-danger">Delete</a>
          {% endif %}

        <hr>

        <!-- Preview Image -->
          {% if post.image %}
        <img class="img-fluid rounded" src="{{ post.image.url }}" alt="">
          {% endif %}

        <hr>

        <!-- Post Content -->
        <p>{{ post.content }}</p>
        <hr>
      <p>Share to <a href="https://www.facebook.com/sharer.php?u=https://ksnaija.herokuapp.com{{ post.get_absolute_url }}">facebook</a>,
       <a href="https://wa.me/?text=https://ksnaija.herokuapp.com{{ post.get_absolute_url }}">whatsapp</a></p>
      <hr>

        <!-- Comments Form -->
        <div class="card my-4">
      {% if new_comment %}
            <h5>Your comment has been added</h5>
            {% else %}
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form method="POST"> {% csrf_token %}
                {{ comment_form|crispy }}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        {% endif %}
        </div>

        <!-- Single Comment -->
      {% for comment in comments %}
      <div class="media mb-4">
{#      {% if user.profile.image %}#}
{#        <img class="rounded-circle" height="100px" src="{{ user.profile.image.url }}">#}
{#        {% endif %}#}
          <div class="media-body">
            <h5 class="mt-0">{{ comment.name }}</h5>
              <p>{{ comment.added_date }}</p>
            {{ comment.body }}
          </div>
      </div>
      {% endfor %}

          </div>
{% endblock %}