{% extends 'blog/base.html'%}
{% block content %}
    {% load crispy_forms_tags %}
    <!-- Blog Entries Column -->
      <div class="col-md-8 mt-4">
        <div class="card mb-4">
            <h4 class="card-header">Reset Password</h4>
          <div class="card-body">
            <form method="POST"> {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Request Password Reset</button>
            </form>
          </div>
        </div>
      </div>
{% endblock %}